@import url("https://fonts.googleapis.com/css2?family=Rubik:wgt@400;500;600;700&display=swap");

:root {

  --primary-bg:#020024;
  --secondary-bg:#020019;
  --decor-color:#FDBF05;
  --color-white:#ffff;
  



  --header-height: 3.5rem;
/* 
  --primary-color-hue: 352;
  --dark-color-lightness: 17%;
  --light-color-lightness: 92%;
  --white-color-lightness: 100%; */
  /* --gray-color-lightness:65% */



/* 
  --color-white: hsl(252, 30%, var(--white-color-lightness));
  --color-light: hsl(252, 30%, var(--light-color-lightness));
  --color-gray: hsl(252, 15%, 65%);
  --color-primary: hsl(var(--primary-color-hue), 75%, 60%);
  --color-dark: hsl(252, 30%, var(--dark-color-lightness)); */

  --body-font: "Rubik", sans-serif;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.75rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;

  --font-medium: 400;
  --font-semi-bold: 600;

  --m-0-5: 0.5rem;
  --m-0-75: 0.75rem;
  --m-1: 1rem;
  --m-1-5: 1.5rem;
  --m-2: 2rem;
  --m-2-5: 2.5rem;

  --card-padding: 1.9rem 0.95rem;

  --border-radius: 1.25rem;

  --box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
}

::-webkit-scrollbar {
  width: 0.6rem;
  background: var(--color-white);
}

::-webkit-scrollbar {
  background: var(--primary-bg);
  border-radius: 0.5rem;
}

/* this is what allow the portfolio to be resposive to any size, phone or pc
its pretty much a an if statement, saying if screen is smaller than 992px apply the root(default style)
else stick with old root , one on the top */
@media screen and (max-width: 992px) {
  :root {
    --h1-font-size: 1.75rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}
body {
  background-color: var(--primary-bg);

  color: var(--decor-color);
  /* change this later let it stay like that for now so that its easier to see */
  line-height: 1.7;
  font-weight: var(--font-medium);
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

h1,
h2,
h3 {
  font-weight: var(--font-semi-bold);
}

h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

/* later i will just use js foreach on this for the background color
using for each and odd*/


.section-about{
  background-color: var(--secondary-bg);

}

.section-experience{
  background-color: var(--primary-bg);

}



.section-project{
  background-color: var(--secondary-bg);

}


.section-contact{
  background-color: var(--primary-bg);

}




.container {
  
  max-width: 90%;
  margin: auto;
}

.row {
  display: flex;

  flex-wrap: wrap;
}

.section .container {
  padding-top: 3.9rem;
  padding-bottom: 4.75rem;
}

.section-title {
  font-size: var(--h1-font-size);
  margin-left: var(--m-0-75);
  margin-bottom: 1rem;
  /* margin-bottom: var(--m-2-5); */
}

.padd-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.btn {
  padding: 0.75rem 2rem;
  line-height: 1;
  border-radius: var(--border-radius);
}

.btn:focus {
  outline: 0;
}

@keyframes button-push {
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

.btn-default {
  color: #fff;
  vertical-align: middle;
  display: inline-block;
  background-color: var(--color-primary);
  transform: perspective(1px) translateZ(0);
}

.btn-default:hover {
  animation-name: button-push;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

.header {
  width: 100%;
  background-color: var(--color-light);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.nav {
  height: calc(var(--header-height)+1.5rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 3rem;
}

.nav-logo {
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  letter-spacing: 0.125rem;
  position: relative;
}
.nav-logo::after {
  position: absolute;
  content: "";
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 50%;
  background-color: var(--color-primary);
  top: 56%;
  right: -0.25rem;
}
.nav-menu {
  margin-left: auto;
}
.nav-list {
  display: flex;
  column-gap: 3rem;
}
.nav-link {
  font-weight: var(--font-medium);
  transition: 0.3s;
}

.nav-link:hover {
  color: var(--color-primary);
}

.nav-close {
  font-size: 1rem;
  position: absolute;
  top: 1rem;
  right: 1.25rem;
  cursor: pointer;
}

.nav-btns {
  display: inline-flex;
  align-items: center;
  column-gap: 1rem;
}

.change-theme {
  font-size: 1.15rem;
  cursor: pointer;
}

.nav-toggle {
  font-size: 1.2rem;
  cursor: pointer;
}

.nav-close,
.nav-toggle {
  display: none;
}
.active-link {
  position: relative;
}
.active-link::before {
  content: "";
  position: absolute;
  bottom: -0.75rem;
  left: 45%;
  width: 0.3rem;
  height: 0.3rem;
  background-color: var(--color-primary);
  border-radius: 50%;
}

.scroll-header {
  box-shadow: 0 1px 4px rgba(165, 125, 125, 0.02);
}

.home {
  display: flex;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
}
.home .intro {
  max-width: 540px;
  text-align: center;
}

.home .intro img {
  margin-bottom: var(--m-1);
}

.home .intro .social-icons {
  margin-top: var(--m-1-5);
  margin-bottom: var(--m-2);
}

.home .intro .social-icons li {
  display: inline-block;
}

.home .intro .social-icons li:not(:last-child) {
  margin-right: var(--m-1-5);
}

.home .intro .social-icons a {
  font-size: var(--h3-font-size);
}

.scroll-down {
  position: absolute;
  bottom: var(--m-2-5);
  left: 0;
  width: 100%;
}

.mouse-wrapper {
  font-size: var(--small-font-size);
  display: block;
  margin: auto;
  max-width: 100px;
  text-align: center;
}

@keyframes ani-mouse {
  0% {
    top: 29%;
  }
  15% {
    top: 50%;
  }
  50% {
    top: 50%;
  }
  100% {
    top: 29%;
  }
}

.mouse {
  border: 2px solid var(--color-dark);
  display: block;
  height: 1.75rem;
  width: 1.25rem;
  margin: auto;
  margin-top: var(--m-0-75);
  border-radius: var(--border-radius);
  position: relative;
}
.mouse .wheel {
  background-color: var(--color-dark);
  border-radius: 50%;
  width: 0.25rem;
  height: 0.25rem;
  position: absolute;
  top: var(--m-0-5);
  left: 40%;
  display: block;
  animation: ani-mouse 2s linear infinite;
}

.about-img {
  flex: 0 0 25%;
  max-width: 25%;
  
  
}

.about-content {
  flex: 0 0 75%;
  max-width: 75%;
  
}
.about-content .about-text
/* .skills  */ {
  flex: 0 0 100%;
  max-width: 100%;
}

.rouded {
  background-color: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--border-radius);
  box-shadow:0 4px 8px rgba(0,0,0,0.3) ;

}

.about-text p {
  text-align: justify;
  margin-bottom: var(--m-1);
}

.fact-item {
  flex: 0 0 25%;
  max-width: 25%;
  margin-top: var(--m-2-5);
  text-align: center;
}

.fact-item i {
  font-size: var(--h2-font-size);
  color: var(--color-gray);
}

.services .service-item {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  display: flex;
}

.services .service-item .service-item-inner {
  border-radius: var(--border-radius);
  padding: var(--card-padding);
  text-align: center;
  transform: translateY(0);
  transition: 0.3s;
}
.services .service-item .service-item-inner:hover {
  transform: translateY(-0.625rem);
}

.services .service-item img {
  margin-bottom: var(--m-0-75);
}

.service-item h3 {
  margin-bottom: var(--m-0-5);
  color: #fff;
}

.service-item p {
  color: #fff;
}

.text {
  text-align: center;
  margin-top: var(--m-1-5);
}

.text a {
  color: var(--color-primary);
}

.experience {
  flex: 0 0 100%;
  max-width: 100%;
  
}

.timeline-box {
  flex: 0 0 100%;
  max-width: 100%;
  
}

.timeline {
  background-color: var(--color-white);
  padding: 1.9rem 0.95rem;
  border-radius: var(--border-radius);
  width: 100%;
  box-shadow:0 4px 8px rgba(0,0,0,0.3) ;

  position: relative;
}

.timeline .timeline-item {
  position: relative;
  padding-left: 2.5rem;
  padding-bottom: 1.9rem;
}

.timeline .timeline-item:last-child {
  padding-bottom: 0;
}

.timeline .timeline-item::before {
  content: "";
  width: 1px;
  position: absolute;
  height: 100%;
  left: var(--m-0-5);
  background-color: var(--color-primary);
  top: 0;
}

.timeline .timeline-icon {
  position: absolute;
  left: -0.25rem;
  top: 0;
  font-size: 1.5rem;
  background-color: var(--color-white);
  color: var(--color-primary);
}

.timeline .timeline-date {
  font-size: var(--small-font-size);
  color: var(--color-gray);
}

.timeline .timeline-date .lni {
  margin-right: 0.3rem;
}

.timeline .timeline-title {
  margin: var(--m-0-5);
}

/* blog */

.blog-item {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  display: flex;
}

.blog-title{
  font-size: var(--h1-font-size);
  margin-left: var(--m-0-75);
  margin-top: 1rem;

}

.blog-item .inner {
  background: var(--color-white);
  overflow: hidden;
  box-shadow:0 4px 8px rgba(0,0,0,0.3) ;

  border-radius: var(--border-radius);
  transform: translateY(0);
  transition: 0.3s;
  margin-top: 20px;
}

.blog-item .inner:hover {
  transform: translateY(-0.98rem);
}

.blog-item .thumb {
  position: relative;
  overflow: hidden;
}

.blog-item .thumb img {
  height: 180px ;
  transform: scale(1);
  transition: 0.3s;
}

.blog-item .thumb:hover img {
  transform: scale(1.1);
}

.blog-item .category {
  background: var(--color-primary);
  border-bottom-left-radius: 0.98rem;
  border-bottom-right-radius: 0.98rem;
  color: #fff;
  font-size: var(--small-font-size);
  padding: 0.12rem 0.5rem;
  position: absolute;
  left: 1.25rem;
  top: 0;
  z-index: 1;
}

.blog-item .details {
  padding: 1.25rem;
}

.blog-item .details .title {
  line-height: 1.2;
}
.blog-item .details .title a:hover {
  color: var(--color-primary);
}

.blog-item .meta {
  font-size: var(--small-font-size);
  color: var(--color-gray);
  margin-top: 0.5rem;
}

.blog-item .meta li {
  display: inline;
}

.blog-item .meta li:not(:last-child) {
  margin-right: 0.6rem;
}

.blog-item .meta li::after {
  content: "";
  background: var(--color-gray);
  border-radius: 50%;
  display: inline-block;
  height: 0.19rem;
  width: 0.19rem;
  margin-left: 0.6rem;
  vertical-align: middle;
}

.blog-item .meta li:last-child::after {
  display: none;
}

/* contact */
.contact-box {
  flex: 0 0 40%;
  max-width: 40%;
}

.contact-form {
  flex: 0 0 60%;
  max-width: 60%;
}

.contact-data {
  display: grid;
  row-gap: 2rem;
}

.contact-subtitle {
  margin-bottom: var(--m-0-5);
}

.contact-description {
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
}

.contact-icon {
  font-size: 1.2rem;
}

.contact-inputs {
  display: grid;
  row-gap: 2rem;
  margin-bottom: var(--m-2-5);
}

.contact-content {
  position: relative;
  height: 3rem;
  border-bottom: 2px solid var(--color-gray);
}

.contact-content span {
  position: absolute;
  bottom: -2px;
  left: 0;
  content: "";
  height: 2px;
  width: 0;
  transition: 0.5s;
  background: var(--color-primary);
}

.contact-input:focus ~ span {
  width: 100%;
}

.contact-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem 1rem 1rem 0;
  background: none;
  color: #030303;
  outline: none;
  border: none;
  z-index: 1;
}

.contact-label {
  position: absolute;
  top: 0.4rem;
  width: 100%;
  font-size: var(--small-font-size);
  transition: 0.3s;
}

.contact-area {
  height: 7rem;
}

.contact-area textarea {
  resize: none;
}

.contact-input:focus + .contact-label {
  top: -0.75rem;
  left: 0;
  z-index: 10;
  columns: var(--color-primary);
}

.footer {
  padding: 60px 0;
}

.footer-text {
  text-align: center;
}

@media screen and (max-width: 968px) {
  .about-content,
  .about-img {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .about-img {
    text-align: center;
    margin-bottom: var(--m-2-5);
  }
 
  
}

@media screen and (max-width: 768px) {
  body {
    margin: var(--header-height) 0 0 0;
  }
  .container {
    max-width: 568px;
  }
  .nav {
    height: var(--header-height);
  }
  .nav-list {
    flex-direction: column;
    row-gap: 1.5rem;
  }
  .nav-menu {
    position: fixed;
    background: var(--color-white);
    width: 80%;
    height: 100%;
    top: 0;
    right: -100%;
    padding: 4rem 0 0 3rem;
    border-radius: 1rem 0 0 1rem;
    z-index: 100;
    transition: 0.3s;
  }
  .show-menu {
    right: 0;
  }
  .nav-close,
  .nav-toggle {
    display: inline-flex;
  }
  .contact-data,
  .contact-form,
  .education,
  .experience,
  .git,
  .brand,
  .about-content .about-text {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .fact-item,
  .blog-item,
  .project-item {
    flex-direction: 0 0 50%;
    max-width: 50%;
  }
  .about-content .about-text {
    margin-bottom: var(--m-1-5);
  }
  .contact-data,
  .blog-item,
  .education {
    margin-bottom: var(--m-2-5);
  }
 
}

@media screen and (max-width: 576px) {
  .blog-item,
  .git,
  .brand,
  .project-item {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .blog-item .inner,
  .project-item-inner {
    max-width: 380px;
    margin: 0 auto;
  }
  .timeline {
    padding: 25px 20px;
  }
  .timeline .timeline-item {
    padding-left: 35px;
    padding-bottom: 20px;
  }
 
}

@media screen and (max-width: 320px) {
  .fact-item,
  .brand {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.resume-button:not(:first-child) {
  padding-left: 10px;
}

.git {
  padding-top: 5%;
  flex: 0 0 100%;
  max-width: 100%;
  
}

.git-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  
}

.brand{
  flex: 0 0 100%;
  max-width: 100%;
  overflow: hidden;
}


.brand-track {
  display: flex;       /* makes items inline in a row */
  width: max-content;  /* track width only as wide as images */
  animation: scroll 30s linear infinite;
  
}

.brand-track img,
.brand-track svg {
  height: 48px;       /* fixed height */
  width: auto;        /* scale proportionally */
  margin: 0 10px;
vertical-align: middle;
  object-fit: contain;
  opacity: 0.8;
  transition: 0.3s;
  
}

.brand-track img:hover,
.brand-track svg:hover {
  filter: grayscale(0);
  opacity: 1;
}

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); } /* for duplicated images */
}


.brand .brand-track:hover{
  animation-play-state: paused;
}


/* toggle night,day button */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background: #ccc;
  border-radius: 26px;
  transition: 0.3s;
  
}

.slider::before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  bottom: 3px;
  background: white;
  border-radius: 50%;
  transition: 0.3s;
}

input:checked + .slider {
  background:var(--color-primary);
}

input:checked + .slider::before {
  transform: translateX(24px);
}
